@width: 1920px;
@height: 1080px;

body {
  padding: 0;
  margin: 0;
}

.red {
  background: rgba(255, 0, 0, 0.1);
}

.content {
  transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  position: relative;
  width: 1920px;
  height: 1080px;
  background-color: rgb(21, 18, 31);
}

.zebra {
  background: hsla(0, 0%, 0%, 0.2);
}

.l-padd {
  padding-left: 5px;
  white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tb-padd {
  padding-top: 5px;
  padding-bottom: 5px;
}

.t-center {
  text-align: center;
}

@headerHeight: 80px;
@halfHeaderHeight : @headerHeight / 2;

.header {
  position: absolute;
  width: @width;
  height: @headerHeight;
  color: #fff;
  font-size: 30px;
}

.h-header {
  position: absolute;
  height: @headerHeight;
  line-height: @headerHeight;
  top: 0px;
}

@wTitle : @wLeito + @wAtendimento + @wPaciente;

.h-title {
  width: @wTitle;
  height: @halfHeaderHeight;
  line-height: @halfHeaderHeight;
  background: rgb(17, 40, 144);
}

@wLeito: 120px;

.h-leito {
  width: @wLeito;
  height: @halfHeaderHeight;
  line-height: @halfHeaderHeight;
  top: @halfHeaderHeight;
  background: rgb(36, 60, 166);
}

@wAtendimento : 120px;
@oAtendimento : @wLeito;

.h-atendimento {
  width: @wAtendimento;
  height: @halfHeaderHeight;
  line-height: @halfHeaderHeight;
  top: @halfHeaderHeight;
  left: @oAtendimento;
  background: rgb(43, 72, 200);
}

@wPaciente: 450px;
@oPaciente : @wAtendimento + @oAtendimento;

.h-paciente {
  width: @wPaciente;
  height: @halfHeaderHeight;
  line-height: @halfHeaderHeight;
  top: @halfHeaderHeight;
  left: @oPaciente;
  background: rgb(47, 81, 230);
}

@wDataAlta: @wAltaMedica + @wAltaHospitalar;
@oDataAlta: @wPaciente + @oPaciente;

.h-data-alta {
  width: @wDataAlta;
  left: @oDataAlta;
  height: @halfHeaderHeight;
  line-height: @halfHeaderHeight;
  background: rgb(99, 0, 0);
}

@wData: 120px;

@wAltaMedica: @wData;
@oAltaMedica: @wPaciente + @oPaciente;

.h-alta-medica {
  width: @wAltaMedica;
  left: @oAltaMedica;
  top: @halfHeaderHeight;
  height: @halfHeaderHeight;
  line-height: @halfHeaderHeight;
  background-color: rgb(217, 70, 70);
}

@wAltaHospitalar: @wData;
@oAltaHospitalar: @wAltaMedica + @oAltaMedica;

.h-alta-hospitalar {
  width: @wAltaHospitalar;
  left: @oAltaHospitalar;
  top: @halfHeaderHeight;
  height: @halfHeaderHeight;
  line-height: @halfHeaderHeight;
  background-color: rgb(194, 42, 42);
}

@wMedicamentos: @wSuspensos + @wAgora + @wUrgente;
@oMedicamentos: @wAltaHospitalar + @oAltaHospitalar;

.h-medicamentos {
  width: @wMedicamentos;
  left: @oMedicamentos;
  height: @halfHeaderHeight;
  line-height: @halfHeaderHeight;
  background-color: rgb(19, 74, 3);
}

@wMedItems : 220px;

@wSuspensos : @wMedItems;
@oSuspensos : @wAltaHospitalar + @oAltaHospitalar;

.h-suspensos {
  width: @wSuspensos;
  left: @oSuspensos;
  top: @halfHeaderHeight;
  height: @halfHeaderHeight;
  line-height: @halfHeaderHeight;
  background: rgb(73, 176, 43);
}

@wAgora : @wMedItems;
@oAgora : @wSuspensos + @oSuspensos;

.h-agora {
  width: @wAgora;
  left: @oAgora;
  top: @halfHeaderHeight;
  height: @halfHeaderHeight;
  line-height: @halfHeaderHeight;
  background: rgb(56, 152, 28);
}

@wUrgente : @wMedItems;
@oUrgente : @wAgora + @oAgora;

.h-urgente {
  width: @wUrgente;
  left: @oUrgente;
  top: @halfHeaderHeight;
  height: @halfHeaderHeight;
  line-height: @halfHeaderHeight;
  background: rgb(39, 122, 15);
}

@wAlergia : @width - @wLeito - @wAtendimento - @wPaciente - @wDataAlta - @wMedicamentos;
@oAlergia : @wUrgente + @oUrgente;

.h-alergia {
  width: @wAlergia;
  left: @oAlergia;
  background: rgb(221, 117, 42);
}

.rows {
  position: absolute;
  width: @width;
  height: @height - @headerHeight;
  top: @headerHeight;
  color: #fff;
}

@rowHeight: 100px;

.row {
	position: absolute;
  width: @width;
	height: @rowHeight;
	line-height: @rowHeight;
}

.rowLoop(20);

.rowLoop (@n, @i:0) when (@i =< @n) {
	.row--@{i} {
		top: @i * @rowHeight;
	}
	.rowLoop(@n, (@i + 1));
}

.column {
  position: absolute;
  height: @rowHeight;
  line-height: @rowHeight;
  font-size: 25px;
}

.column--leito {
  width: @wLeito;
}

.column--atendimento {
  width: @wAtendimento;
  left: @oAtendimento;
}

.column--paciente {
  width: @wPaciente;
  left: @oPaciente;
  font-size: 30px;
}

.column--altaMedica {
  width: @wAltaMedica;
  left: @oAltaMedica;
}

.column--altaHospitalar {
  width: @wAltaHospitalar;
  left: @oAltaHospitalar;
}

.column--suspensos {
  width: @wSuspensos;
  left: @oSuspensos;
}
.column--agora {
  width: @wAgora;
  left: @oAgora;
}

.column--urgente {
  width: @wUrgente;
  left: @oUrgente;
}

.column--alergias {
  width: @wAlergia;
  left: @oAlergia;
  font-size: 20px;
  line-height: 22px;
  background: rgba(231, 111, 0, 0.1);
}

.column--datas {
  background: rgba(32, 231, 0, 0.1);
  font-size: 15px;
  line-height: 17px;
}

.column--info {
  background: rgba(0, 78, 231, 0.1);
}

.ul--items {
  width: 100%;
}

.li--item {
  width: 100%;
  white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.li--item::before {
  content: '* ';
}
